<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Magazento_Megabile>
            <version>0.0.1</version>
        </Magazento_Megabile>
    </modules>
    <global>
        <blocks>
            <megabile>
                <class>Magazento_Megabile_Block</class>
            </megabile>
        </blocks>
        <helpers>
            <megabile>
                <class>Magazento_Megabile_Helper</class>
            </megabile>
        </helpers>
        <models>
            <megabile>
                <class>Magazento_Megabile_Model</class>
                <resourceModel>megabile_mysql4</resourceModel>
            </megabile>
            <megabile_mysql4>
                <class>Magazento_Megabile_Model_Mysql4</class>
                <entities>
                    <item>
                        <table>magazento_megabile_item</table>
                    </item>
                    <category>
                        <table>magazento_megabile_category</table>
                    </category>
                </entities>
            </megabile_mysql4>
        </models>
        <resources>
            <megabile_setup>
                <setup>
                    <module>Magazento_Megabile</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </megabile_setup>
            <megabile_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </megabile_write>
            <megabile_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </megabile_read>
        </resources>
    </global>
    
    <admin>
        <routers>
            <megabile>
                <use>admin</use>
                <args>
                    <module>Magazento_Megabile</module>
                    <frontName>megabile</frontName>
                </args>
            </megabile>
        </routers>
    </admin>
    
    <adminhtml>
        <layout>
            <updates>
                <megabile>
                    <file>magazento_megabile.xml</file>
                </megabile>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <megabile>
                                            <title>megabile</title>
                                            <sort_order>101</sort_order>
                                        </megabile>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>        
        <menu>
            <megabile translate="title" module="megabile">
                <title>Megabile</title>
                <sort_order>99</sort_order>
                <action>megabile/admin_item/index</action>                
            </megabile>
        </menu>
    </adminhtml>
    <default>
        <megabile>
            <general>
                <product_title_rewrite>1</product_title_rewrite>
                <product_description_rewrite>1</product_description_rewrite>
                <product_keyword_rewrite>1</product_keyword_rewrite>
                <product_robots>1</product_robots>
                
                <category_title_rewrite>1</category_title_rewrite>
                <category_description_rewrite>1</category_description_rewrite>
                <category_keyword_rewrite>1</category_keyword_rewrite>
                <category_robots>1</category_robots>
                
                <page_robots>1</page_robots>
                <homepage_duplicates>1</homepage_duplicates>
            </general>
        </megabile>
    </default>
</config>